<div class="container">
  <h1>Welcome to Bloccit</h1>
    <p>This is an application made by Edna with the help of my mentor at Bloc.</p>

     <h3>Similar to Reddit, Bloccit is an app where people can post, vote on, share and save links and comments. </h3>
    <h3>Bloccit has many features which makes it a cool web app.</h3>
    
  <script type='text/javascript'>
    $(document).ready(function() {
      blocmetrics.report('Topic.new, Post.new, new_user, Comment.new, comment, up_vote, down_vote'); })
  </script>
</div>


